

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

h1 {
    font-size: 2em;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

h2 {
    font-size: 1.2em;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

p {
    font-size: 1.2em;
}

button:hover {
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.header {
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    width: 80%;
    border-style: solid;
    border-radius: 10px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 20px;
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.container input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container .game {
    display: none;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}

.container .game img {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.container .game img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    filter: brightness(80%);
}

.container .game p {
    font-size: 1.5em;
}

.container .game .game-introduction {
    display: none;
    border-style: solid;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 95%;
    margin: 5px auto;
    padding: 20px;
}

.container .game .game-first {
    display: none;
    border-style: solid;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 95%;
    margin: 5px auto;
    padding: 20px;
}

.container .game .game-second {
    display: none;
    border-style: solid;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 95%;
    margin: 5px auto;
    padding: 20px;
}

.container .game .game-third {
    display: none;
    border-style: solid;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 95%;
    margin: 5px auto;
    padding: 20px;
}

.container .game .game-third img:hover {
    box-shadow: 0 0 0;
    cursor: pointer;
    filter: brightness(100%);
}