body {
    background-color: #1C1B1F;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #E6E1E5;
    font-family: Arial;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #E6E1E5;
}

.question {
    background-color: #492532;
    border: 1px solid #EFB8C8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
}

.question h1 {
    font-weight: bold;
    font-size: 1.2em;
    color: #EFB8C8;
    font-family: 'Times new Roman';
}

.question p {
    font-size: 1em;
    color: #E6E1E5;
    text-align: left;
}

body {
    text-align: center;
    background-color: #1C1B1F;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #E6E1E5;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #E6E1E5;
}
