h1 {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(61, 61, 61);
    color: white;
    padding: 20px;
    text-align: left;
}

.nav-bar h1 {
    margin: 0;
    font-size: 2em;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* display: inline-block; */
}

.nav-bar li {
    /* display: inline; */
    display: flex;
    margin-right: 20px;
    font-size: 1.2em;
}

.nav-bar li:hover {
    cursor: pointer;
}

