{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Welcome to Johnny's December Break Trip!</div>
            <div class="masthead-heading text-uppercase">Johnny is planning a trip to LA in December</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'about' %}">Learn more about this trip</a>
        </div>
    </header>
{% endblock %}
