{% load static %} <!-- DTL TAGS -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>BlowOutRentals!</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <div class="nav-bar">
            <h1>Blowout Instrument Rentals</h1>
            <ul>
                <li><a href="{% url 'instruments' %}">Instruments</a></li>
                <li><a href="{% url 'aboutus' %}">About</a></li>
            </ul>
        </div>
        <div class="banner">
            <img src="{% static 'img/instrumentbanner.jpg' %}">
        </div>
        {% block content %}
        {% endblock %}
        <!-- Footer-->
        <footer class="footer">
            <div class="container">
                <div>© 2020 - Blowout Rentals</div>
            </div>
        </footer>
    </body>
</html>