{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <img src="{% static 'img/milesdavis.jpg' %}">
        <p>
            Founded in 2018, Blowout Rentals began it's story of a
            one-story home in the suberbs of Provo, Utah. Due to the
            increasing popularity of music over the last year. Blowout
            Rentals has grown tremendously and now has several shops
            across Utah Valley. We offer a wide selection of instrument
            rentals, ranging from flutes to saxophones and offer various
            insurance and protection packages to ensure a positive
            rental experience.
        </p>
        <p>Our mission: A trumpet in every home!</p>
    </div>
{% endblock %}
