/*
    Johnny (Nhat) Dao
    WEB 114 Midterm Project
    11/19/2023
*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.header {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: bisque;
    padding: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* ----------------------- THE CALCULATOR ----------------------- */
.container {
    display: block;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 30%;
    margin-top: 20px;
    background-color: darkgray;
}

/* Calculator Screen */
.container .calc-screen {
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid;
    background-color: white;
    overflow: auto;
}

.container .calc-screen p {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    text-align: right;
}

/* Calculator Buttons */
.container .calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.container .calc-buttons button {
    font-size: 2em;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #e0e0e0;
    cursor: pointer;
}

.container .calc-buttons button:hover {
    background-color: #d0d0d0;
}